.favorite-star {
    width: 30px;
    height: 30px;
  }
  
  .favorite-star img {
    width: 100%;
    height: 100%;
    margin-left: 15px;
    filter: grayscale(100%);
  }

  .favorite-star:hover img {
    filter: none;
    cursor:pointer; 
  }

  .favorite-star.activated img {
    filter: none;
  } 
  
  @media screen and (max-width: 768px) {
    .favorite-star {
      width: 20px;
      height: 20px;
      padding-bottom: 5px;
    }

    
    .favorite-star img {
      width: 100%;
      height: 100%;
      filter: grayscale(100%);
      margin-left: 5px;
      margin-top: 2px;
      
    }

  }