.weather-forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 88.5%;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .each-day {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    padding-left: 3rem;
  }
  
  .weather-forecast .date {
    font-weight: bold;
    font-size: 25px;
    align-self: left;
  }
  
  .weather-forecast .weather-forecast-info {
    flex: 1;
    align-items: center;
  }
  
  .weather-forecast .temperature,
  .weather-forecast .description {
    font-size: 20px;
    font-weight: bold;
  }
  
  .weather-forecast img {
    width: 60px;
    height: 60px;
    margin-right:40px;
  }

  p {
    user-select: none;
  }

  .weather-forecast-title {
    color: white;
    align-self: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    margin-top: 50px;
    margin-bottom: 70px
}

.weather-forecast {
    padding: 0%;
    display: flex;
    flex-direction: column;
}