.background {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 60px;
    padding-top: 50px;
}

.location-name {
    margin-top: 100px;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
}


.welcome-text {
    margin-top: 200px;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
}

.current-container {
    width: 40%;
    margin: 0 auto;
  }