.asyncPaginate__control.glassmorphism {
    background-color: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(10px) !important;
    border: none !important;
    border-radius: 4px !important;
    padding: 8px !important;
    font-size: 16px !important;
    color: #fff !important;
}

.asyncPaginate__menu.glassmorphism {
    background-color: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(10px) !important;
    max-height: 200px !important;
    overflow-y: auto !important;
    border: none !important;
    border-top: none !important;
    border-radius: 0 0 4px 4px !important;
}

.asyncPaginate__option.glassmorphism {
    padding: 8px !important;
    cursor: pointer !important;
    transition: background-color 0.2s ease-in-out !important;
    color: #fff !important;
}

.asyncPaginate__option.glassmorphism:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.asyncPaginate__option.glassmorphism--is-selected {
    background-color: rgba(0, 123, 255, 0.8) !important;
    color: #fff !important;
}

.asyncPaginate__option.glassmorphism--is-selected:hover {
    background-color: rgba(0, 123, 255, 0.7) !important;
}

.searchContainer {
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}