.background {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: auto;
    background: linear-gradient(217deg, #ea9f1d, #565ebb);
    background-size: cover;
    margin: 0;
    padding: 60px;
    padding-top: 20px;
}